<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @application.goal %>
</p>

<p>
  <strong>User:</strong>
  <%= @application.user %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Destroy', @application, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', applications_path %>
