<p>
  <strong>Email Address:</strong>
  <%= @user.email_address %>
</p>

<div>
  <h2>Applications:</h2>

  <table class="table">
    <thead>
      <th>Goal</th>
      <th>State</th>
      <th>Actions</th>
    </thead>

    <tbody>
      <% @user.applications.each do |application| %>
        <tr>
          <td><%= link_to application.goal, application %></td>
          <td><%= application.aasm.human_state %></td>
          <td>
            <% application.aasm.events.each do |event| %>
              <%= button_to Application.aasm.human_event_name(event.name), fire_event_application_path(application), params: { 'application[event]': event.name }, method: :post, class: 'btn btn-primary' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_to 'Create New Application', applications_path, params: { 'application[goal]': 'retirement', 'application[user_id]': @user.id }, method: :post, class: 'btn btn-success' %>
</div>

<div>
  <h2>User Activity</h2>
  <table class="table">
    <thead>
      <th>Event</th>
      <th>On</th>
    </thead>

    <tbody>
    <% @user.activities.each do |activity| %>
      <tr>
        <td><%= activity.public_details %></td>
        <td><%= activity.happened_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
