<p>
  <strong>Email Address:</strong>
  <%= @user.email_address %>
</p>

<div>
  <h2>Goals:</h2>

  <table class="table">
    <thead>
      <th>Type</th>
      <th>State</th>
      <th>Actions</th>
    </thead>

    <tbody>
      <% @user.goals.each do |goal| %>
        <tr>
          <td><%= goal.goal_type %></td>
          <td><%= goal.aasm.human_state %></td>
          <td>
            <% goal.aasm.events.each do |event| %>
              <%= button_to Goal.aasm.human_event_name(event.name), fire_event_goal_path(goal), params: { 'goal[event]': event.name }, method: :post, class: 'btn btn-primary' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2>User Activity</h2>
  <table class="table">
    <thead>
      <th>Event</th>
      <th>On</th>
    </thead>

    <tbody>
    <% @user.activities.each do |activity| %>
      <tr>
        <td><%= activity.public_details %></td>
        <td><%= activity.happened_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
