<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= Goal.aasm.human_event_name(@task_recipe.event) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task_recipe.description %>
</p>

<p>
  <strong>Days Before Due:</strong>
  <%= @task_recipe.days_before_due %>
</p>

<p>
  <strong>Category Name:</strong>
  <%= @task_recipe.category_name %>
</p>

<%= link_to 'Edit', edit_task_recipe_path(@task_recipe) %> |
<%= link_to 'Back', task_recipes_path %>
